:root {
  --background-color-blue: #0c73fe;
  --background-color-white: #ffffff;
  --font-black: #0c131d;
  --font-gray: #9ea9b7;
  --font-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color-white);
}

a {
  color: inherit;
  text-decoration: none;
}