.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.directions {
  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  justify-content: space-between;
}